
.card-body{
  
    height: 900px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    

}
.card-div{
 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 370px;
    padding: 10px;

 
}


.card-div .img{
  
    width:311px;
    height: 280px;
}

.btn{

    display: inline-block;
    vertical-align: middle;
    position: relative;
    border-radius: 4px;
    padding: 1.1666666667em 1.5em;
    background: #3d83df;
    line-height: 1em;
    color: #fff;
    font-weight: 700;
    letter-spacing: .04em;
    font-size: .75rem;
    text-align: center;
    text-transform: uppercase;
    font-size: .625rem;
    padding: 1em 1.5em;

}

.btn-txt{
    font-size: 1.125em;
    line-height:30px;;
    color: #747474;
    display: flex;
    justify-content: space-between;
    padding: 20px;

}

.card-div a{
    text-decoration: none;
}

.card-div a:hover{
    box-shadow: 0 0px 16px 0 rgba(255, 251, 251, 0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: white;
    border-color: transparent;
    background-color: transparent;
    border-radius: 5px;
   
   
}
